@model Suaah.Models.HotelRoom

@{
    ViewData["Title"] = "Create";
}

<div class="text-center  m-2 mt-5 p-5 h">
    <h1>Create Hotel Room</h1>
</div>
<hr />
 
<div class="row">
     <div class="col-md-8 m-auto">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group m-2">
                <textarea asp-for="Description" rows="3" class="form-control" placeholder="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group m-2">
                <input asp-for="Price" class="form-control" placeholder="Price"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group m-2">
                <input asp-for="CancelBeforeHours" class="form-control" placeholder="Cancel Before {Hours}"/>
                <span asp-validation-for="CancelBeforeHours" class="text-danger"></span>
            </div>
              <div class="form-group m-2">
                Image:<input class="form-control" accept="image/*" type="file" name="image" id="upFile1" />
            </div>
             <div class="form-group m-2">
                <select asp-for="HotelId" class ="form-control" asp-items="ViewBag.HotelId"></select>
            </div>
             <div class="form-group m-3">
                <div class="col-md-offset-2 col-md-10">
                    <table>
                        <tr>
                            <label asp-for="Services" class="control-label"></label>
                        </tr>
                        <tr>
                            @{
                                int cnt = 0;
                                List<Suaah.Models.AssignedServiceData> servicesData = ViewBag.Services;

                                foreach (var service in servicesData)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                                @:</tr><tr>
                                    }
                                            @:<td class="m-2">
                                         
                                                    <input type="checkbox"
                                                       name="selectedServices"
                                                       value="@service.ServiceID"
                                                       @(Html.Raw(service.Assigned ? "checked=\"checked\"" : "")) 
                                                       class="p-2"/>
                                                       @service.Title
                                        
                                                @:</td>
                                }
                                        @:</tr>
                            }
                    </table>
                </div>
            </div>
             <div class="form-group m-3 p-3">
                <input type="submit" value="Create" class="btn btn-primary" /> ||  <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>
 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}