@model Suaah.Models.HotelRoom

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HotelRoom</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

           @* <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" rows="3" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CancelBeforeHours" class="control-label"></label>
                <input asp-for="CancelBeforeHours" class="form-control" />
                <span asp-validation-for="CancelBeforeHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HotelId" class="control-label">Hotel Name</label>
                <select asp-for="HotelId" class ="form-control" asp-items="ViewBag.HotelId"></select>
            </div>
             <div class="form-group m-3">
                <div class="col-md-offset-2 col-md-10">
                    <table>
                        <tr>
                            <label asp-for="Services" class="control-label"></label>
                        </tr>
                        <tr>
                            @{
                                int cnt = 0;
                                List<Suaah.Models.AssignedServiceData> servicesData = ViewBag.Services;

                                foreach (var service in servicesData)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                        @:</tr><tr>
                                    }
                                    @:<td class="m-2">
                                         
                                            <input type="checkbox"
                                               name="selectedServices"
                                               value="@service.ServiceID"
                                               @(Html.Raw(service.Assigned ? "checked=\"checked\"" : "")) 
                                               class="p-2"/>
                                               @service.Title
                                        
                                        @:</td>
                                }
                                @:</tr>
                            }
                    </table>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
@*
<script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'a11ychecker advcode casechange export formatpainter image editimage linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinycomments tinymcespellchecker',
      toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
      toolbar_mode: 'floating',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
    });
  </script>*@
}