@model Suaah.Models.Airline

@{
    ViewData["Title"] = "Delete";
}

<div class="text-center  m-2 mt-5 p-5 hd">
    <h1>Are you sure you want to delete @Model.Name? </h1>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Code" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index">Back to List</a>
</form>

