@model Suaah.Models.Services

@{
    ViewData["Title"] = "Delete";
}
<br />
<br />
<br />
<br />
<div class="text-center  m-2 mt-5 p-5 hd">
    <h1>Are you sure you want to delete @Model.Name Service? </h1>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <div class="form-group m-3 p-3">
        @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Manager))
        {
            <input type="submit" value="Delete" class="btn btn-danger" /> <span>|</span>
        }
        <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
    </div>
</form>

