@model Suaah.Models.Airport

@{
    ViewData["Title"] = "Edit";
}

<div class="text-center  m-2 mt-5 p-5 h">
    <h1>Edit Airport</h1>
</div>
<hr />
 
<div class="row">
    <div class="col-md-8 m-auto">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <select asp-for="CountryId" class="form-select" asp-items="@ViewBag.Countries">
                    <option selected disabled>Select a Country...</option>
                </select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
             <div class="form-group w-50">
                <label asp-for="ImageUrl" class="control-label l"></label>
                <input class="form-control" accept="image/*" type="file" name="image" id="upFile1" />
            </div>
           <div class="form-group m-3 p-3">
                <input type="submit" value="Save" class="btn btn-primary" /> || <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
            </div>
            
        </form>
    </div>
</div>

 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
