
 <label class="control-label col-1">Page Size</label>
<input type="number" name="pagesize" class="col-2" value="@ViewBag.PageSize" />

 <label class="control-label col-1">Page Number</label>
<input type="number" name="pagenumber" class="col-2" value="@ViewBag.PageNumber" />
