
 <label class="control-label">Page Size</label>
<input type="number" name="pagesize" class="p-2" value="@ViewBag.PageSize" />

 <label class="control-label">Page Number</label>
<input type="number" name="pagenumber" class="p-2" value="@ViewBag.PageNumber" />
