@model Suaah.Models.Flight

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Flight</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DepartingGate" class="control-label"></label>
                <input asp-for="DepartingGate" class="form-control" />
                <span asp-validation-for="DepartingGate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArriveGate" class="control-label"></label>
                <input asp-for="ArriveGate" class="form-control" />
                <span asp-validation-for="ArriveGate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Class" class="control-label"></label>
                <input asp-for="Class" class="form-control" />
                <span asp-validation-for="Class" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfStops" class="control-label"></label>
                <input asp-for="NumberOfStops" class="form-control" />
                <span asp-validation-for="NumberOfStops" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateAndTime" class="control-label"></label>
                <input asp-for="DateAndTime" class="form-control" />
                <span asp-validation-for="DateAndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AirlineCode" class="control-label"></label>
                <input asp-for="AirlineCode" class="form-control" />
                <span asp-validation-for="AirlineCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartingAirportId" class="control-label"></label>
                <select asp-for="DepartingAirportId" class="form-control" asp-items="ViewBag.DepartingAirportId"></select>
                <span asp-validation-for="DepartingAirportId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivingAirportId" class="control-label"></label>
                <select asp-for="ArrivingAirportId" class="form-control" asp-items="ViewBag.ArrivingAirportId"></select>
                <span asp-validation-for="ArrivingAirportId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
